<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GIC.DataAccess.Properties.Settings.Global_DPK_ReconConnectionString"
            connectionString="Data Source=wn7-hgt6822;Initial Catalog=Global_DPK_Recon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>