<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MSAccessConnection" value="Provider=Microsoft.ACE.OLEDB.12.0;data source=\\wn7-hgt6822\d$\Scheduler_Job\Global DPK Treacebility\Global DPK Recon History.accdb;Persist Security Info=False;" />
    <add key="GIC_Database" value="Data Source=wn7-hgt6822;Initial Catalog=Global_DPK_Recon;Persist Security Info=True;User ID=GIC;Password=yEih1Q35cMqLnPEkwODF3w==;"/>
    <add key="Output_Folder" value="D:\DPK_Recon_Result"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
